$color-primery: #FF3F4A;
$color-secondary:white;
$color-warning:#1C1D21;
$color-gray:#A5A6AA;
$color-hover: #474747;
$color-last: #F4F4F4; 

$font-size-xl:60px;
$font-size-large:35px;
$font-size-medium:25px;
$font-size-small:18px;


