footer{
    padding: 40px 0;
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.352);
   .container__paragraph{
    padding-bottom: 30px;
   }
   @include tablet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    .container__paragraph{
        padding-bottom: 0;
    }
   }
}